body{
    margin-left: 20%;
    margin-right: 20%;
}
.container{
    background-color: wheat;
    padding-bottom: 5vh;
}
.topPhoto{
    display: flex;
    justify-content: center;
}
.judul{
    margin: 30px;
}
#photo{
    border-radius: 50%;
    width: 250px;
    height: 250px;
}